<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Aggregator" connectionString="Data Source=C12-CH-STAGE02\SQL2005; Initial Catalog=Aggregator; User=AggregatorUser; Password=AggregatorUser;"/>
	</connectionStrings>
	<appSettings>
		<add key="Aggregator.Timeout" value="00:01:00"/>
		<add key="HelixWebServiceUrl" value="http://ws.vx.cnetchannel.com/VXWebService/VXWebService.asmx"/>
	</appSettings>
	<system.web>
		<compilation debug="true">
	</compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
