<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolutionHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolutionHelper.Properties.Settings>
            <setting name="BaseReferencePaths" serializeAs="String">
                <value>D:\references\Internal\;D:\references\External\</value>
            </setting>
            <setting name="InternalReferencesSourcePath" serializeAs="String">
                <value>\\rufrt-vxbuild\InternalReferences\</value>
            </setting>
            <setting name="ExternalReferencesSourcePath" serializeAs="String">
                <value>\\rufrt-vxbuild\ExternalReferences\</value>
            </setting>
            <setting name="InternalReferencesTargetPath" serializeAs="String">
                <value>D:\references\Internal\</value>
            </setting>
            <setting name="ExternalReferencesTargetPath" serializeAs="String">
                <value>D:\references\External\</value>
            </setting>
        </SolutionHelper.Properties.Settings>
    </userSettings>
</configuration>