<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SourceTracker" connectionString="Data Source=RUFRW-OSHU\SQL2005; Initial Catalog=SourceTracker2; Integrated Security=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="SourceTracker.Timeout" value="00:00:30" />
	</appSettings>
</configuration>
